@import './base.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#app {
  /* max-width: 1366px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}
